* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #1C1C1C;
  --dark-blue: #1F2937;
  --green: #55F991;
  --main-btn: #10B981;
  --soft-green: #ECFDF5;
  --medium-grey: #D5D4D8;
  --dark-grey: #2F3E53;
  --white: #ffffff;
  --pale-blue: #30C7BD;
  --grey-blue: #6D9491;
}
body {
 font-size: 62.5%;
 font-family: 'Karla', sans-serif;
 background: linear-gradient(90deg, var(--black), var(--dark-blue));
 color: var(--white);
}

.App {
  width: 90%;
  max-width: 650px;
  margin: 15px auto;
  background-color: var(--soft-green);
  border-radius: 8px;
  color: var(--dark-blue);
  user-select: none;
}
.content {
  width: 100%;
  min-height: 400px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--pale-blue);
}
.description {
  margin: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}
.rolls-title {
  font-size: 1.8rem;
}
.rolls-count {
  font-size: 1.6rem;
  font-weight: 800;
}
.dice-grid {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(min(100%,100px), 1fr));
  place-items: center;
  width: 90%;
}
.die {
  margin: 10px;
  width: 50px;
  height: 50px;
  font-family: serif;
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  background-color: var(--white);
  border: 2px solid var(--white);
  box-shadow: 3px 2px 5px 1px #c9c9c9;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
/* .die img {
  width: 100%;
} */
.frozen {
  background-color: var(--green);
  border-color: var(--green);
  box-shadow: none;

}

.btn {
  margin: 10px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--main-btn);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:active {
  background-color: #30C7BD;
}

.confetti {
  width: inherit;
  height: 100vh;
}