* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #1C1C1C;
  --dark-blue: #1F2937;
  --green: #55F991;
  --main-btn: #10B981;
  --soft-green: #ECFDF5;
  --medium-grey: #D5D4D8;
  --dark-grey: #2F3E53;
  --white: #ffffff;
  --pale-blue: #30C7BD;
  --grey-blue: #6D9491;
}
body {
 font-size: 62.5%;
 background: linear-gradient(90deg, var(--black), var(--dark-blue));
 color: var(--white);
}

.App {
  width: 90%;
  max-width: 650px;
  margin: 15px auto;
  background-color: var(--soft-green);
  border-radius: 8px;
  color: var(--dark-blue);
}
.content {
  width: 100%;
  min-height: 400px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--pale-blue);
}
.description {
  margin: 10px;
  font-size: 1.4rem;
  text-align: center;
}
.die-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  width: 90%;
}
.dice {
  margin: 10px;
  padding: 5px;
  width: 50px;
  font-size: 1.8rem;
  font-weight: bolder;
  text-align: center;
  border: 2px solid var(--pale-blue);
  border-radius: 5px;
  user-select: none; 
}
.frozen {
  background-color: var(--green);
  color: var(--white);
  border-color: var(--green);
}

.btn {
  margin: 10px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--main-btn);
  color: var(--white);
  border: none;
  border-radius: 5px;
}